/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #262633;
  --ifm-color-primary-dark: #22222e;
  --ifm-color-primary-darker: #20202b;
  --ifm-color-primary-darkest: #1b1b24;
  --ifm-color-primary-light: #2a2a38;
  --ifm-color-primary-lighter: #2c2c3b;
  --ifm-color-primary-lightest: #313142;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #007bff;
  --ifm-color-primary-dark: #006fe6;
  --ifm-color-primary-darker: #0069d9;
  --ifm-color-primary-darkest: #0056b3;
  --ifm-color-primary-light: #1a88ff;
  --ifm-color-primary-lighter: #268fff;
  --ifm-color-primary-lightest: #4da3ff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.theme-doc-sidebar-item-category-level-1 .menu__list-item a {
  font-weight: normal;
}

.theme-doc-markdown a {
  color: rgb(72, 118, 214);
}
